* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  form {
      width: 90%;
  }
}

@media (max-width: 400px) {
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="submit"] {
      font-size: 14px;
  }
}
